/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
button {
  outline: none;
}

.App {
  height: 100vh;
  padding: 2vh 3vw;
  background-color: #f3f4f5;
}

.csv-reader-input > label {
  /* background: red; */
  padding: 0.5rem 2rem;
  height: 2rem;
  display: inline-table;
}
.csv-reader-input {
  user-select: none;
  cursor: pointer;
  font-size: 1em;
  /* padding: 0.25em 0.75em; */
  font-weight: 600;
  color: white;
  background-color: #a8b0ff;
  border-radius: 30px;
  display: inline-block;
  transition: 0.5s;
  border: 2px dashed #2f21ff33;
}

.csv-reader-input label {
  cursor: pointer;
}

.csv-reader-input:hover {
  background-color: #4651c8cb;
  border: 2px solid #2147ff00;
}

.csv-reader-input .plus-prefix {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 4px;
  font-weight: 300;
}

.csv-reader-input .label-suffix {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: 400;
  margin-left: 0.2em;
}

#csv-input {
  width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.selection-headers-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selection-headers-container > button {
  margin: 0.5rem 0rem !important;
  transition: 175ms !important;
} 
.selection-headers-container > button.with-opacity {
  opacity: 0.4;
}

.selection-headers-confirm {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}


.table {
  border-radius: 10px;
  box-shadow: 0px 3px 11px 0px #00000021;
  outline: none;
  width: 94vw;
  box-shadow: 0px 2px 8px -7px #00000075;
}

.cell-value {
  text-align: center;
}

.editable-cell {
  transition: 0.2s;

}
.editable-cell:hover {
  background-color: #0000ff33 !important;
  /* border: 1px solid #221fcf1d; */
}

.cell-input {
  border: none;
  padding: 0;
  height: 90%;
  width: 90%;
  border-radius: 5px;
  background: #211fcf5e;
  color: white;
  text-align: center;
  font-size: 17px;
  outline-width: 0;
  font-weight: 700;
}

.cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid #e0e0e0; */
  /* border-bottom: 1px solid #e0e0e0; */
}

.tables-header {
  /* height: 17%; */
  margin-bottom: 3%;
  background: #e4e8ff;
  border-radius: 15px;
  padding: 15px;
}

.tables-header-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tables-header-actions {
  position: absolute;
  right: 0px;
}

.table-header {
  overflow: hidden !important;
  z-index: 2;
  box-shadow: 0 6px 17px -6px #73737373;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #1c27a58c;
  outline: none;
}

.table-header::-webkit-scrollbar {
  display: none;
}

.tables-content {
  height: 80%;
}

.table-content {
  border-radius: 0px 0px 10px 10px;
  outline: none;
}



/* .create-filter-button {
  user-select: none;
  cursor: pointer;
  border: 2px solid #fff0;
  border-radius: 30px;
  color: white;
  padding: 0.3em 0.8em;
  background: #02e802;
  font-size: 1.1em;
  font-weight: 600;
  box-shadow: 0px 0px 11px 4px #8282823d;
  transition: 0.3s;
} */

/* .create-filter-button:hover {
  border: 2px solid #02e802;
  background: #56f15600;
  color: #02e802;
} */

.filter-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
}

.filter-tag-container a, .filter-tag-container button {
  margin: 0.25rem 0.5rem !important;
}

.filter-tag {
  padding: 8px !important;
  overflow: hidden;
  margin-right: 5px !important;
}

.filter-tag-creation {
  display: flex;
  /* justify-content: space-around; */
  width: 80%;
  padding: 4px 0px;
}

.filter-tag-container span {
  font-weight: 300;
}

/* .filter-tag {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 15px;
  width: fit-content;
  margin-bottom: 4px;
}

.filter-tag.exclude {
  background: #ffbcbc;
}
.filter-tag.include {
  background: #97cff9;
} */

.filter-tag__excluding-condition {
  font-weight: 700 !important;
}

.filter-tag__header {
  font-weight: 700 !important;
}

.filter-tag__operator {
  font-weight: 700 !important;
}

.filter-tag__value {
  font-weight: 700 !important;
}

.filter-tag__close-icon {
  margin-left: 6px !important;
  margin-right: -3px !important;
}


.filter-tag-creation__part {
  margin-right: 5px !important;
}